*{margin: 0;}
*{padding: 0;}

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");


header{ height: 200px;
    display: flex;
    flex-direction: row;
    background-color: rgb(196, 18, 18);
    position: relative;
    width: 800px;
    
}

.logo{
    height: 100%;
    width: 200px;
}

h1{ color: white;
    font-style: italic;
    font-weight: 500;
    font-size: 85px;
    font-family: 'Great Vibes', cursive;
    text-align: center;
    text-decoration: underline;
}



nav{
    height: 250px;
    background-color: rgb(159, 146, 146);
    color: rgb(240, 235, 235);
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 800px;
}

a{
    font-size: 30px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}

ul{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    list-style-type: none;
    align-items: center;
}

.video{ width: 800px;}
.deposito{width: 800px;}

footer{
    background-color: black;
    color: white;
    font-style: italic;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    height: 40px;
    width: 800px;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to left, grey, black)
    
    }


    .imgqs{
        width: 800px;
        height: 300px;
        animation-name: colorgallina;
        animation-duration: 5s;
        animation-iteration-count: 1;
    }
    h2{text-align: center;}

    @keyframes colorgallina{
        from{opacity: 0;}

        to{opacity: 100;}
    }

.grillaqs{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-around;

}

.qs{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    

}

.introduccion {
    width: 800px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    color: blue;
    text-a;
}
.grillaqs{
    width: 800px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;

    grid-template-areas: "a1 a2 a3"
                         "a4 a5 a6"
                         "a7 a8 a9";

}

.camionqs{
    grid-area: a1;
}


.camionqs:hover{
    transform: rotate(45deg);
    }

.tituloqs1{
    grid-area: a4;
}

.parrafo1{
    grid-area: a7;
}
.granjaqs{
    grid-area: a2;
}

.granjaqs:hover{
    transform: rotate(45deg);
}

.tituloqs2{
    grid-area: a5;
}
.parrafo2{
    grid-area: a8;
}

.pollookqs{
    grid-area: a3;
}

.pollookqs:hover{
    transform: rotate(45deg);
}

.tituloqs3{
    grid-area: a6;
}
.parrafo3{
    grid-area: a9;
}


.grid_section{
    display:grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 10% 70% 10%;


    grid-template-areas: "img titulo"
                         "img parrafo"
                         "img boton";

    justify-content: space-around;
    align-content: space-evenly;
    justify-items: center;
    align-items: center;

}

.img_section{
    width: 100%;
    height: 100%;
    
    grid-area:img;
}


.textou{
    width: 800px;
}

.mapa{
    width: 800px;
    height: 300px;
}

.gallinaf{
    width: 600px;
    height: 300px;
}


#carouselExampleControls{
    width: 800px;
}

.bi-facebook{
    color: white;
    font-size: 30px;
}

.bi-facebook:hover{
    color: blue;
}

.bi-twitter{
    color: white;
    font-size: 30px;
}

.bi-twitter:hover{
    color: lightblue
}

.bi-instagram{
    color: white;
    font-size: 30px;
}

.bi-instagram:hover{
    color: indigo;
}


.pfooter{
        font-size: 20px;
}



@media only screen and (max-width: 600px){

 .pfooter{
        color: red
        }
    }



@media only screen and (min-width: 600px){
        
header{ height: 200px;
            background-color: rgb(196, 18, 18);
            
            width: 1200px;}

.gallinaf{
            width: 100%;
            height: 300px;
            }

nav{
    height: 100px;
    background-color: rgb(159, 146, 146);
    color: rgb(240, 235, 235);
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 1200px;
    }

ul{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    list-style-type: none;
    align-items: center;
    height: 100px
    }

    li{align-content;
            }

main{
    width: 1200px;
    }

.portada{
        display: flex;
        flex-direction: column;
        align-items: center;

    }

.imgqs{
        width: 1200px;
        height: 300px;
        animation-name: colorgallina;
        animation-duration: 5s;
        animation-iteration-count: 1;
        
    }

footer{
        background-color: black;
        color: white;
        font-style: italic;
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        height: 40px;
        width: 1200px;
        display: flex;
        justify-content: center;
        background-image: linear-gradient(to left, grey, black)
        
    }

#carouselExampleControls{
            width: 1200px;
        }

.grillaqs{
        height: auto;
        width: 1200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        justify-content: space-around;
        
        }
.introduccion{
               width: 1200px;
               font-family: Verdana, Geneva, Tahoma, sans-serif;
               font-size: 15px;
               color: blue;
               justify-content: space-evenly;
        }

.textou{
        width: 1200px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 15px;
        color: blue;
        justify-content: space-evenly;
        }

h2{text-align: center;}

.mapaavicola{width: 1200px;}

}